:root {
    --purpledark:#460259;
    --purplelight:#8807c9;
    --purpleheader: #ead1ff;
    --darkgray: #1d191d;
    --medgray: #877887;
    --lightgray: #c0b0c0;
    --yellow: #ffd455;
    --standard-border: 3px solid var(--medgray);
    --small-border: 1px solid var(--medgray);
}

* {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    font-size: 20px;
}

body {
    background:linear-gradient(purple, black);
}

#body-layer-2 {
    background-image:url(../images/diamond.jpeg);
    background-repeat: repeat;
    background-size: 10%;
    opacity: 0.8;
}

header {
    height: 150px;
    width: 100%;
    background: linear-gradient(var(--purpledark), black);
    border-bottom: var(--standard-border);
}

#maxwell {
    color: var(--lightgray);
    font-size: inherit;
}

h1 {
    position:relative;
    font-size: 300%;
    top: 75px;
    left: 5%;
}

h2 {
    font-size: 2em;
    padding:10px 0px;
    color: var(--purpleheader);
}

nav {
    display:flex;
}


#links {
    position: absolute;
    top: 0px;
    right: 5%;
    font-weight: bolder;
    text-align: center;
    list-style:none;
    padding:70px 0px 0px 80px;
}

a {
    color:var(--yellow);
}

a:hover {
    color:white;
}

main section {
    width:75%;
    margin: 40px auto;
    background-color:var(--darkgray);
}

/* 
    This is primarily used in the About Me section.
    Could be used elsewhere if page is expanded.
*/
.paragraphs p {
    padding-top:30px;
    text-indent: 60px;
}

main article {
    width:95%;
    margin: 0 auto;
}

hr {
    height:3px;
    opacity: 0.5;
}

#me {
    width: 35%;
    height: auto;
    display:block;
    margin: 30px auto;
    margin-bottom: 30px;
}

/* For that crisp, beveled border. */
.bordered {
    border: 5px solid var(--lightgray);
    border-right-color: var(--medgray);
    border-bottom-color: var(--medgray);
}

.article-text {
    width:90%;
}

#main-work {
    width: 60%;
    height: auto;
    background-color:black;
    display: block;
    margin: 0 auto;
}

#main-work a, #main-work a:visited, #main-work a:focus, #main-work a:active {
    text-decoration: none;
    color: inherit;
}

#main-work:hover > * {
    text-decoration: none;
    color: var(--yellow);
}

.work-img {
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-position: top;
    display: block;
    margin: 0 auto;
}

/* This ID applies to the section surrounding all small works. */
#small-works {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

/* This CLASS applies to each and every one of the small works. */
.small-work {
    width: 30%;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

#work-title {
    text-align:center;
}

/* This applies to the Published Work thumbnails, large and small. */
a img:hover {
    opacity:50%;
}

#contact-list {
    list-style:square;
}

#contact-list li {
    margin: 20px 0px;
}

footer {
    width:75%;
    margin: 0 auto;
    color: var(--yellow);
    font-weight: bolder;
    background-color: var(--darkgray);
    text-align: center;
    border-top: var(--standard-border);
    border-left: var(--small-border);
    border-right: var(--small-border);
}

footer p {
    margin: 5px 0px;
}

/* Media queries keep the header functional at different screen sizes. */

@media screen and (max-width: 956px) {
    h1 {
        font-size: 248%;
        top:85px;
    }
}

@media screen and (max-width: 800px) {
    * {
        font-size: 16px;
    }
    h1 {
        font-size: 310%; 
        top: 30px;
        left: 15%;
    }
    #maxwell {
        display: block;
    }
    #links {
        position: absolute;
        font-size: 110%;
        top: 0px;
        right: 15%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        left:10%;
    }
    #links {
        right: 10%;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: 15px;
    }
    h1 {
        left:5%;
    }
    #links {
        right: 5%;
    }
    .small-work {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    * {
        font-size: 14px;
    }
    h1 {
        left:3%;
    }
    #links {
        right: 3%;
    }
    .small-work {
        width: 40%;
    }
}